<!DOCTYPE html>
<html>
  <head>
    <title>Личный кабинет ученика</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for("static", filename="exitScript.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="C:\Users\Раиса\Documents\GitHub\SiteProject\static\lkstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="lkstyle.css") }}">
    <!-- <link rel="stylesheet" href="{{ url_for("static", filename="script.js") }}"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400;300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>

    <header>
        <div class="logo">
          <p>Кот ученый — сайт по поиску репетитора</p>
        </div>

        <div class="icon-menu">
            <img src="C:\Users\Раиса\Documents\GitHub\SiteProject\static\menu-ham-icon.png">
        </div>

        <div class="menu">
      
            <div class="icon-close">
              <img src="C:\Users\Раиса\Documents\GitHub\SiteProject\static\close-btn.png">
            </div>
      
            <ul>
              <li><a href="studentProfile.html">Мой профиль</a></li>
              <li><a href="searchTutor.html">Поиск репетитора</a></li>
              <li><a href="studentMessages.html">Мои сообщения</a></li>
              <li><a href="#">Мое расписание</a></li>
            </ul>

        </div>

    </header>

    <div class="exit">
        <input type="button" value="Выход" class="exitbtn" onclick="exitOnProfile();"> 
    </div>

    <div class="edit_profile">
        <form method="POST" enctype=multipart/form-data>
            <div class="avatar">
              <img id="img_avatar" width="250" height="250" src="{{Photo}}">
            </div>
            
            <div class="edit_student">
                <label for="LastName"><b>Фамилия</b></label>
                <input type="text" name="LastName" value="{{LastName}}" required>
      
                <label for="FirstName"><b>Имя</b></label>
                <input type="text" name="FirstName" value="{{FirstName}}" required>
      
                <label for="date"><b>Дата рождения</b></label><Br>
                <input type="date" id="date" name="date" value="{{BirthDay}}" required>
      
                <label for="class"><b>Класс</b></label>
                <select name="class" required="required">
                    <option value="1" {{CHECK1}}>1</option>
                    <option value="2" {{CHECK2}}>2</option>
                    <option value="3" {{CHECK3}}>3</option>
                    <option value="4" {{CHECK4}}>4</option>
                    <option value="5" {{CHECK5}}>5</option>
                    <option value="6" {{CHECK6}}>6</option>
                    <option value="7" {{CHECK7}}>7</option>
                    <option value="8" {{CHECK8}}>8</option>
                    <option value="9" {{CHECK9}}>9</option>
                    <option value="10" {{CHECK10}}>10</option>
                    <option value="11" {{CHECK11}}>11</option>
                </select><Br><Br>
      
                <p><b>Предметы</b></p>
                <input type="checkbox" name="math" value="b1" {{LESS1}}><label for="math">Математика</label><Br>
                <input type="checkbox" name="rus" value="b2" {{LESS2}}><label for="rus">Русский язык</label><Br>
                <input type="checkbox" name="phys" value="b3" {{LESS3}}><label for="phys">Физика</label><Br>
                <input type="checkbox" name="inf" value="b4" {{LESS4}}><label for="inf">Информатика</label><Br>
                <input type="checkbox" name="chemistry" value="b5" {{LESS5}}><label for="chemistry">Химия</label><Br>
                <input type="checkbox" name="bio" value="b6" {{LESS6}}><label for="bio">Биология</label><Br>
                <input type="checkbox" name="history" value="b7" {{LESS7}}><label for="history">История</label><Br>
                <input type="checkbox" name="social" value="b8" {{LESS8}}><label for="social">Обществознание</label><Br>
                <input type="checkbox" name="literature" value="b9" {{LESS9}}><label for="literature">Литература</label><Br>
                <input type="checkbox" name="geo" value="b10" {{LESS10}}><label for="geo">География</label><Br>
                <input type="checkbox" name="economy" value="b11" {{LESS11}}><label for="economy">Экономика</label><Br>
                <input type="checkbox" name="eng" value="b12" {{LESS12}}><label for="eng">Английский язык</label><Br>
                <input type="checkbox" name="dutch" value="b13" {{LESS13}}><label for="dutch">Немецкий язык</label><Br>
      
                <p><b>Формат занятий</b></p>
                <input type="checkbox" name="option1" value="a1" {{FORMAT1}}><label for="option1">Я к преподавателю</label><Br>
                <input type="checkbox" name="option2" value="a2" {{FORMAT2}}><label for="option2">Преподаватель ко мне</label><Br>
                <input type="checkbox" name="option3" value="a3" {{FORMAT3}}><label for="option3">Удаленно</label><Br>
      
                <label for="phone"><p><b>Номер телефона</b></p></label>
                <input type="tel" placeholder="В формате 89***." name="phone" pattern="[0-9]{11}" value="{{Phone}}" required>
      
                <label for="psw"><b>Новый пароль</b></label>
                <input type="password" name="psw">
      
                <label for="about"><p><b>О себе</b></p></label>
                <textarea name="about">{{About}}</textarea>
      
                <div class="form-group">
                <input type="file" accept="image/*,image/jpeg" name="file" id="file" class="input-file">
                <label for="file" class="btn btn-tertiary js-labelFile">
                  <i class="icon fa fa-check"></i>
                  <span class="js-fileName">Загрузить фотографию</span> 
                </label>
                </div>

                <input type="submit" value="Сохранить информацию" class="savebtn">  
            </div>
        </form>
    </div>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="C:\Users\Раиса\Documents\GitHub\SiteProject\static\script.js"></script>
  </body>
</html>