<!DOCTYPE html>
<html>
  <head>
    <title>Авторизируйтесь</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
    <h1></h1>
    </header>
    <form method="POST">
      <div class="container">
        <h1>Авторизируйтесь</h1>
        <hr>
        <label for="email"><b>Логин</b></label>
        <input type="text" placeholder="Введите логин" name="email">
        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="psw">
        <input type="submit" value="Вход" class="registerbtn">
        <hr>
        <input type="button" value="Регистрация репетитору" class="registerbtn" onClick='location.href="/newteacher"'>
        <input type="button" value="Регистрация ученику" class="registerbtn" onClick='location.href="/newstudent"'>
      </div>
    </form>
  </body> 
</html>