<!DOCTYPE html>
<html>
  <head>
    <title>TUTOR</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static\style.css">
    <!--<link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <header>
    <h1></h1>
    </header>

    <div class="button">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>

    <div class='menu'>
      <nav>
        <ul>
          <li>
            <a href='#' data-class='home_is_visible'>Мой профиль</a>
          </li>
          <li>
            <a href='#' data-class='search_is_visible'>Поиск репетитора</a>
          </li>
          <li>
            <a href='#' data-class='tutors_is_visible'>Мои репетиторы</a>
          </li>
       </ul>
      </nav>
    </div>

    <div class='content home'>
      <div class="wrapper">
      </div>
    </div>
    <div class='content search'>
      <div class="wrapper">
      </div>
    </div>
    <div class='content tutors'>
      <div class="wrapper">
      </div>
    </div>
    </div>
  </body> 
  <script src="static\script.js"></script>
</html>