<!DOCTYPE html>
<html>
  <head>
    <title>Личный кабинет репетитора</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for("static", filename="exitScript.js") }}"></script>
    <script src="{{ url_for("static", filename="foundStudent.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="lkstyle.css") }}">
    <!-- <link rel="stylesheet" href="{{ url_for("static", filename="script.js") }}"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400;300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>

    <header>
        <div class="logo">
          <p>Кот ученый — сайт по поиску репетитора</p>
        </div>

        <div class="icon-menu">
          <img src="{{ url_for("static", filename="menu-ham-icon.png") }}">
        </div>

        <div class="menu">
      
            <div class="icon-close">
              <img src="{{ url_for("static", filename="close-btn.png") }}">
            </div>
      
            <ul>
              <li><a href="/profile">Мой профиль</a></li>
              <li><a href="/search">Поиск ученика</a></li>
              <li><a href="/messages">Мои сообщения</a></li>
              <li><a href="/timetable">Мое расписание</a></li>
            </ul>

            
            
        </div>

    </header>

    <div class="exit">
      <input type="button" value="Выход" class="exitbtn" onclick="exitOnProfile();"> 
  </div>

    <div class="search_student">
        <div class='filter'>
            <p><b>Формат:</b><br>
            <input type="checkbox" name="option1" value="a1" id="a1checkid"><label for="option1">Я к ученику</label><Br>
            <input type="checkbox" name="option2" value="a2" id="a2checkid"><label for="option2">Ученик ко мне</label><Br>
                <input type="checkbox" name="option3" value="a3" id="a3checkid"><label for="option3">Дистанционно</label><Br></p>
            <p><b>Предмет:</b><br>
            <input type="checkbox" name="math" value="b1" id="Less1"><label for="math">Математика</label><Br>
            <input type="checkbox" name="rus" value="b2" id="Less2"><label for="rus">Русский язык</label><Br>
            <input type="checkbox" name="phys" value="b3" id="Less3"><label for="phys">Физика</label><Br>
            <input type="checkbox" name="inf" value="b4" id="Less4"><label for="inf">Информатика</label><Br>
            <input type="checkbox" name="chemistry" value="b5" id="Less5"><label for="chemistry">Химия</label><Br>
            <input type="checkbox" name="bio" value="b6" id="Less6"><label for="bio">Биология</label><Br>
            <input type="checkbox" name="history" value="b7" id="Less7"><label for="history">История</label><Br>
            <input type="checkbox" name="social" value="b8" id="Less8"><label for="social">Обществознание</label><Br>
            <input type="checkbox" name="literature" value="b9" id="Less9"><label for="literature">Литература</label><Br>
            <input type="checkbox" name="geo" value="b10" id="Less10"><label for="geo">География</label><Br>
            <input type="checkbox" name="economy" value="b11" id="Less11"><label for="economy">Экономика</label><Br>
            <input type="checkbox" name="eng" value="b12" id="Less12"><label for="eng">Английский язык</label><Br>
                <input type="checkbox" name="dutch" value="b13" id="Less13"><label for="dutch">Немецкий язык</label><Br></p>
            <p><b>Класс (От):</b><br>
              <select name="classMin" required="required" id="classMin">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select><Br>
                <b>Класс (До):</b><br>
                  <select name="classMax" required="required" id="classMax">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11" selected>11</option>
                    </select></p>
            <p><b>Пол:</b><br>
              <input type="radio" name="sex" value="Любой" checked>Любой<Br>
                <input type="radio" name="sex" value="Мужской">Мужской<Br>
                <input type="radio" name="sex" value="Женский">Женский<Br></p>
                <input type="button" value="Найти ученика" class="searchbtn" onclick="foundStudent();">
        </div>  
        <div class="search_result" id="search_result_id_block">

        </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for("static", filename="script.js") }}"></script>
  </body>
</html>