<!DOCTYPE html>
<html>
  <head>
    <title>Личный кабинет ученика</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for("static", filename="exitScript.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="lkstyle.css") }}">
    <!-- <link rel="stylesheet" href="{{ url_for("static", filename="script.js") }}"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400;300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>

    <header>
        <div class="logo">
          <p>Кот ученый — сайт по поиску репетитора</p>
        </div>

        <div class="icon-menu">
          <img src="{{ url_for("static", filename="menu-ham-icon.png") }}">
        </div>

        <div class="menu">
      
            <div class="icon-close">
              <img src="{{ url_for("static", filename="close-btn.png") }}">
            </div>
      
            <ul>
              <li><a href="/profile">Мой профиль</a></li>
              <li><a href="/search">Поиск репетитора</a></li>
              <li><a href="/messages">Мои сообщения</a></li>
              <li><a href="/timetable">Мое расписание</a></li>
            </ul>

        </div>

    </header>

    <div class="exit">
        <input type="button" value="Выход" class="exitbtn" onclick="exitOnProfile();"> 
    </div>

    <div class="student_profile">
        <div class="avatar">
            <img id="img_avatar" width=auto height=auto src="{{Photo}}">
        </div>
        <div class="info">
            <p><b>Фамилия:</b> {{LastName}}</p>
            <p><b>Имя:</b> {{FirstName}}</p>
            <p><b>Дата рождения:</b> {{BirthDay}}</p>
            <p><b>Класс:</b> {{SchoolClass}}</p>
            <p><b>Изучаемые предметы:</b> {{Lessons}}</p>
            <p><b>Формат занятий:</b> {{Format}}</p>
            <p><b>Номер телефона:</b> {{Phone}}</p>
            <p><b>О себе:</b> {{About}}</p>
            <input type="button" value="Редактировать информацию" class="updatebtn" onClick="document.location.href = '/edit'">  
        </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for("static", filename="script.js") }}"></script>
  </body>
</html>