<!DOCTYPE html>
<html>
  <head>
    <title>Личный кабинет репетитора</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for("static", filename="exitScript.js") }}"></script>
    <!-- <link rel="stylesheet" type="text/css" href="static\lkstyle.css"> -->
    <link rel="stylesheet" href="{{ url_for("static", filename="lkstyle.css") }}">
    <!-- <link rel="stylesheet" href="{{ url_for("static", filename="script.js") }}"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <header>
    <h1></h1>
    </header>

    <div class="button">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>

    <div class="exit">
      <input type="button" value="Выход" class="exitbtn" onclick="exitOnProfile();"> 
    </div>

    <div class='menu'>
      <nav>
        <ul>
          <li>
            <a href='#' data-class='home_is_visible'>Мой профиль</a>
          </li>
          <li>
            <a href='#' data-class='search_is_visible'>Поиск ученика</a>
          </li>
          <li>
            <a href='#' data-class='tutors_is_visible'>Мои ученики</a>
          </li>
       </ul>
      </nav>
    </div>

    <div class='content home'>
      <div class="avatar">
        <img id="img_avatar" width="250" height="250" src="{{Photo}}">
      </div>
      <div class="wrapper">
        <div class="info">
        <p><b>Фамилия:</b> {{LastName}}</p>
        <p><b>Имя:</b> {{FirstName}}</p>
        <p><b>Дата рождения:</b> {{BirthDay}}</p>
        <p><b>Образование:</b> {{Education}}</p>
        <p><b>Стаж:</b> {{Experions}}</p>
        <p><b>Предметы:</b> {{Lessons}}</p>
        <p><b>Формат занятий:</b> Удаленно</p>
        <p><b>Вид занятий:</b> Групповые</p>
        <p><b>Ставка:</b> 350</p>
        <p><b>Номер телефона:</b> {{Phone}}</p>
        <p><b>О себе:</b> {{About}}</p>
        <input type="button" value="Редактировать информацию" class="updatebtn" onClick="document.location.href = '/edit'">  
      </div>
      </div>
    </div>
    <div class='content search'>
      <div class="wrapper">
        <p><b>Формат:</b><br>
          <input type="checkbox" name="option1" value="a1"><label for="option1">Я к ученику</label><Br>
          <input type="checkbox" name="option2" value="a2"><label for="option2">Ученик ко мне</label><Br>
          <input type="checkbox" name="option3" value="a3"><label for="option3">Удаленно</label><Br></p>
        <p><b>Предмет:</b><br>
          <input type="checkbox" name="math" value="b1"><label for="math">Математика</label><Br>
          <input type="checkbox" name="rus" value="b2"><label for="rus">Русский язык</label><Br>
          <input type="checkbox" name="phys" value="b3"><label for="phys">Физика</label><Br>
          <input type="checkbox" name="inf" value="b4"><label for="inf">Информатика</label><Br>
          <input type="checkbox" name="chemistry" value="b5"><label for="chemistry">Химия</label><Br>
          <input type="checkbox" name="bio" value="b6"><label for="bio">Биология</label><Br>
          <input type="checkbox" name="history" value="b7"><label for="history">История</label><Br>
          <input type="checkbox" name="social" value="b8"><label for="social">Обществознание</label><Br>
          <input type="checkbox" name="literature" value="b9"><label for="literature">Литература</label><Br>
          <input type="checkbox" name="geo" value="b10"><label for="geo">География</label><Br>
          <input type="checkbox" name="economy" value="b11"><label for="economy">Экономика</label><Br>
          <input type="checkbox" name="eng" value="b12"><label for="eng">Английский язык</label><Br>
          <input type="checkbox" name="dutch" value="b13"><label for="dutch">Немецкий язык</label><Br></p>
        <p><b>Класс:</b><br>
            <select name="class" required="required">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select></p>
        <p><b>Пол:</b><br>
          <input type="radio" name="sex" value="Мужской">Мужской<Br>
          <input type="radio" name="sex" value="Женский">Женский<Br></p>
        
        
        <div class="search_result">
          <div class="search_tutor" id="tutor1">
            <div class="photo">
              <img id="img_avatar" width="110" height="110" src="https://avatars.mds.yandex.net/get-pdb/216365/cafc6922-7989-4b22-b23d-36a495ce95a0/s1200">
            </div>
            <p><b>Фамилия:</b> Иванов</p>
            <p><b>Имя:</b> Иван</p>
            <p><b>Класс:</b> 10</p>
           
          </div>
          <div class="search_tutor" id="tutor2">
            <div class="photo">
              <img id="img_avatar" width="110" height="110" src="https://avatars.mds.yandex.net/get-pdb/216365/cafc6922-7989-4b22-b23d-36a495ce95a0/s1200">
            </div>
            <p><b>Фамилия:</b> Федоров</p>
            <p><b>Имя:</b> Федор</p>
            <p><b>Класс:</b> 9</p>
            
          </div>
          <div class="search_tutor" id="tutor3">
            <div class="photo">
              <img id="img_avatar" width="110" height="110" src="https://avatars.mds.yandex.net/get-pdb/216365/cafc6922-7989-4b22-b23d-36a495ce95a0/s1200">
            </div>
            <p><b>Фамилия:</b> Филиппов</p>
            <p><b>Имя:</b> Филипп</p>
            <p><b>Класс:</b> 8</p>
          </div>
        </div>
      </div>
    </div>
    <div class='content tutors'>
      <div class="wrapper">
<div></div>
      </div>
    </div>
    </div>
  </body> 
  <script src="static\script.js"></script>
</html>